.main {
  display: grid;

  margin: 3.2rem 1rem;
  font-size: clamp(1.2rem, 0.1em + 2.4vw, 1.6rem);
}

.education {
  background-color: #1a1a1a;
  border-radius: 1em 1em 0 0;
  margin-bottom: 1rem;
}

.educationImage {
  max-width: clamp(4rem, 0.1em + 12vw, 8rem);
  min-height: clamp(4rem, 0.1em + 12vw ,8rem);
  display: block;
  margin: 0 auto;
  padding: 1rem 0;
}

.experience {
  background-color: #1a1a1a;
  margin-bottom: 1rem;
  display: block;
  text-align: center;
  padding: 1rem 0;
}

.experience p {
  filter: opacity(50%);
}

.experience:hover {
  background-color: #0d0d0d;
}

.experience:hover p {
  filter: opacity(100%);
}

.post {
  background-color: #1a1a1a;
  cursor: pointer;
}

.post:hover {
  background-color: #0d0d0d;
}

.post:last-child {
  border-radius: 0 0 1em 1em;
}