.main {
  margin: 3.2rem 0;
}

.blog {
  background-color: #1a1a1a;
  border-radius: 1em 1em 0 0;
  margin-bottom: 1rem;
  padding: 1rem 0;
}
.blog-image {
  max-width: clamp(4rem, 0.1em + 12vw, 8rem);
  height: auto;
  display: block;
  margin: auto;
}

.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;
}

.post a {
  background: #1a1a1a;
  color: #a4a4a4;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.post a:last-of-type {
  border-radius: 0 0 1rem 1rem;
}

.post a:hover {
  background: #0d0d0d;
}

.post h2 {
  margin-bottom: 0;
}

.post p {
  color: #72abbf;
  font-size: 1.6rem;
  font-style: italic;
}
