.section {
  display: grid;
  gap: 1rem;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "image heading"
    "detail detail";
  margin-bottom: 1rem;
  padding: 2rem 0;
}

.section p,
.section h2,
.section h3 {
  padding: 1rem 2rem;
}


h2, h3 {
  color: #57C78F;
}

.section ul {
  margin-left: 4rem;
}

.section ul li {
  list-style-type: square;
  margin: 0 0 0 1rem;
  color: #bf4040;
}

.section ul p {
  color: #94B8DB;
  padding-left: 0;
}

.experience-image {
  grid-area: image;
  width: 6rem;
  height: auto;
  display: block;
  margin: 0 auto;
}

.heading {
  grid-area: heading;
}

.detail {
  grid-area: detail;
}

.click {
  padding: 1rem 2rem;
  text-align: center;
  margin: auto;
  color: #57C78F;
  font-size: 1rem;
}