.header {
  padding: 0 0 0;
  font-size: 0.4rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .9em;
}

.logo {
  max-width: 12em;
  height: 8.4em;
  margin: 0;
}

.title-container {
  margin-left: 5.4rem;
}

.title {
  font-size: 5.4em;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.subTitle {
  font-size: 3.6em;
  font-weight: 700;
  margin: 0;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  font-size: .6rem;
  padding-bottom: 1rem;
}

.nav-item {
  color: #57C78F;
  opacity: 50%;
  font-size: 1.6em;
  padding: .4rem 1.1rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #57C78F;
  opacity: 75%;
  border-bottom: .4rem solid #993333;
}

.active-nav-item {
  color: #57C78F;
  opacity: 100%;
  border-bottom: .4rem solid #bf4040;
}

@media (min-width: 400px) {
  .header { font-size: 0.6rem; }
  .nav-list {font-size: 0.7rem;}
}

@media (min-width: 768px) {
  .header { font-size: 1rem; }
  .nav-list {font-size: 1rem;}
}