.section {
  margin-bottom: 1rem;
}

.section p {
  padding: 1rem 2rem;
}

.section a {
  filter: opacity(50%)
}

.section a:hover {
  filter: opacity(100%)
}

.section ul p {
  padding: 0 2rem 0 0;
  color: #94B8DB;
}

.section ul {
  list-style-type: square;
  padding-left: 4rem;
}

.section li {
  margin-left: 2rem;
  color: #bf4040;
}

.project-name {
  color: #57C78F;
  padding: 2rem 0;
  text-align: center;
}

.project-image {
  width: 80%;
  height: auto;
  display: block;
  margin: 2rem auto;
}

.links {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.click {
  padding: 1rem 2rem;
  text-align: center;
  margin: auto;
  color: #57C78F;
  font-size: 1rem;
}

@media (any-hover: none) {
  .section a {
    filter: opacity(100%);
  }
}