.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  font-size: .6rem;
  padding-bottom: 1.6rem;
}

.nav-item {
  color: #57C78F;
  opacity: 50%;
  font-size: 1.6em;
  padding: .4rem 1.1rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #57C78F;
  opacity: 75%;
  border-bottom: .4rem solid #993333;
}

.active-nav-item {
  color: #57C78F;
  opacity: 100%;
  border-bottom: .4rem solid #bf4040;
}

@media (min-width: 400px) {
  .nav-list {font-size: 0.7rem;}
}

@media (min-width: 768px) {
  .nav-list {font-size: 1rem;}
}